{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container">
    <h2>Вход</h2>
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <!-- Логин -->
        <div class="mb-3">
            <label for="id_username" class="form-label">Логин</label>
            <input type="text" name="username" class="form-control" id="id_username" value="{{ form.username.value|default_if_none:'' }}" placeholder="Введите логин" style="background-color: #e6f7ff; width: 250px;" autocomplete="off">
            {% if form.username.errors %}
                <div class="text-danger">
                    {{ form.username.errors.as_text }}
                </div>
            {% endif %}
        </div>

        <!-- Пароль -->
        <div class="mb-3">
            <label for="id_password" class="form-label">Пароль</label>
            <div class="input-group" style="width: 250px;">
                <input type="password" name="password" class="form-control" id="id_password" placeholder="Введите пароль" style="background-color: #e6f7ff;" autocomplete="off">
                <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                    <i class="fa fa-eye"></i>
                </button>
            </div>
            {% if form.password.errors %}
                <div class="text-danger">
                    {{ form.password.errors.as_text }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

<!-- Скрипт для глазика -->
<script>
    const togglePassword = document.getElementById('togglePassword');
    const passwordField = document.getElementById('id_password');

    togglePassword.addEventListener('click', function () {
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;
        this.innerHTML = type === 'password' ? '<i class="fa fa-eye"></i>' : '<i class="fa fa-eye-slash"></i>';
    });
</script>
{% endblock %}
